* {
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar {
    background-color: #fff;
}
.nav_img img {
    width: 65px;
    height: 65px;
}

.nav_name {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.login_name {
    text-decoration: none;
    font-size: 15px;
    padding-right: 0.75rem;
    color: #1cc29f;
    overflow: hidden;
}

.signup_name {
    color: #fff;
    border-radius: 5px;
    background-color: #1cc29f;
    cursor: pointer;
    font-weight: 600;
    text-decoration: inherit;
    border: 0 solid;
    box-sizing: inherit;
    box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    overflow: hidden;
}
